* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: cursive;
  margin: 0 auto;
  color: #4b4b4b;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

section {
  padding: 0 5rem;
}

header {
  background-image: url(../resources/images/mainbg.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
  height: 150vh;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

header nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7vh;
  width: 80vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  background-color: #ffffff;
}

header ul {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div.main-heading {
  color: #ffffff;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 200;
  font-size: 1.5rem;
}

header div.main-heading h1 {
  font-size: 5rem;
  font-weight: 300;
}

header div.main-heading a {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 15px;
  margin-top: 1rem;
  display: inline-block;
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: capitalize;
}

section#trending {
  position: relative;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 4rem;
  color: #4b4b4b;
}

section#trending blockquote {
  width: 20vw;
  position: absolute;
  top: -10%;
  left: 3%;
  font-size: 1.3rem;
  padding: inherit;
  z-index: 100;
}

section#trending blockquote h1 {
  font-size: 5.2rem;
  text-transform: uppercase;
}

section#trending blockquote img {
  height: 60px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

section#trending blockquote footer {
  padding: 2rem 0;
  display: inline-block;
  width: 100%;
}

section#trending blockquote footer cite {
  vertical-align: middle;
  color: gray;
  font-size: 1rem;
  display: inline-block;
}

section#trending div#trending-gallery {
  position: absolute;
  top: -40%;
  left: 25%;
  width: 60vw;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 0.2fr;
      grid-template-rows: 1fr 1fr 0.2fr;
  grid-gap: 10px;
  padding: inherit;
}

section#trending div#trending-gallery img {
  display: block;
  -webkit-box-shadow: 5px 5px 10px #afafaf;
          box-shadow: 5px 5px 10px #afafaf;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}

section#trending div#trending-gallery img:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 /3;
}

section#trending div#trending-gallery a {
  -ms-grid-column: 3;
  grid-column: 3/3;
  text-align: end;
  color: #86ceeb;
}

section#trending div#trending-gallery a span {
  font-size: 1.5rem;
}

section#trending div#circle {
  width: 10%;
  height: 25%;
  position: absolute;
  top: -20%;
  border: 1.2rem solid #a57d60;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */