* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: cursive;
  margin: 0 auto;
  color: #4b4b4b;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

section {
  padding: 0 5rem;
}

.heading {
  font-size: 5.2rem;
  text-transform: uppercase;
}

header {
  background-image: url(../resources/images/mainbg.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
  height: 150vh;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

header nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  width: 80vw;
  position: relative;
  top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  background-color: #ffffff;
}

header ul {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div.main-heading {
  color: #ffffff;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 200;
  font-size: 1.5rem;
}

header div.main-heading h1 {
  font-size: 5rem;
  font-weight: 300;
}

header div.main-heading a {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 15px;
  margin-top: 1rem;
  display: inline-block;
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: capitalize;
}

section#trending {
  position: relative;
  height: 80vh;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #4b4b4b;
}

section#trending blockquote {
  width: 20vw;
  position: absolute;
  top: -10%;
  left: 3%;
  font-size: 1.3rem;
  z-index: 100;
}

section#trending blockquote span {
  font-size: 700;
  text-transform: capitalize;
}

section#trending blockquote img {
  height: 60px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

section#trending blockquote footer {
  padding: 2rem 0;
  display: inline-block;
}

section#trending blockquote footer cite {
  vertical-align: middle;
  color: gray;
  font-size: 1rem;
  display: inline-block;
}

section#trending div#trending-gallery {
  position: absolute;
  top: -40%;
  left: 20%;
  width: 75vw;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 0.2fr;
      grid-template-rows: 1fr 1fr 0.2fr;
  grid-gap: 10px;
  padding: inherit;
}

section#trending div#trending-gallery img {
  display: block;
  -webkit-box-shadow: 0px 10px 10px #dadada;
          box-shadow: 0px 10px 10px #dadada;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 15px;
}

section#trending div#trending-gallery img:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 /3;
}

section#trending div#trending-gallery a {
  -ms-grid-column: 3;
  grid-column: 3/3;
  text-align: end;
  color: #86ceeb;
}

section#trending div#trending-gallery a span {
  font-size: 1.5rem;
}

section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 300;
  color: #4b4b4b;
}

section#about div#text-content {
  width: 70%;
}

section#about div#text-content h3 {
  font-weight: 100;
}

section#about div#text-content p {
  margin: 3rem 0;
}

section#about div#text-content p:last-of-type {
  margin-bottom: 0;
}

section#about div#text-content a {
  display: block;
  text-align: end;
  color: #86ceeb;
}

section#about div#text-content a span {
  font-size: 1.5rem;
}

section#about div#square-shapes {
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

section#about div#square-shapes p {
  -webkit-box-shadow: 10px 10px 5px #dadada;
          box-shadow: 10px 10px 5px #dadada;
  padding: 3.2rem;
  border: 12px solid #dac7b9;
}

section#about div#square-shapes p:last-of-type {
  padding: 1.7rem;
  position: absolute;
  top: 150px;
  left: 140px;
}

section#gallery {
  margin-top: 10rem;
}

section#gallery a {
  color: #86ceeb;
  margin-top: 2rem;
  font-size: 1.4rem;
  display: block;
  text-align: end;
}

section#gallery div#cross-shapes {
  text-align: center;
}

section#gallery div#cross-shapes div {
  display: inline-block;
  margin: 2rem;
  position: relative;
}

section#gallery div#cross-shapes span {
  background-color: #dac7b9;
  display: inline-block;
  width: 50px;
  height: 10px;
  border-radius: 10px;
}

section#gallery div#cross-shapes span:first-of-type {
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
}

section#gallery div#cross-shapes span:last-of-type {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  position: absolute;
  top: 30%;
  left: -2%;
}

section#gallery div#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

section#gallery div#cards div {
  width: 20%;
  margin: 0 1rem;
  padding: 0.6rem;
  padding-bottom: 3rem;
  -webkit-box-shadow: 10px 10px 10px 5px #dadada;
          box-shadow: 10px 10px 10px 5px #dadada;
}

section#gallery div#cards div:first-of-type {
  margin-left: 0;
}

section#gallery div#cards div:last-of-type {
  margin-right: 0;
}

section#gallery div#cards div img {
  background-color: #ffffff;
  cursor: pointer;
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section#gallery div#cards div h3 {
  margin-top: 1rem;
}

section#journel {
  padding: 6rem;
  margin: auto;
  height: 130vh;
  background-size: cover;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 'a b b' '. c .' 'd e f';
}

section#journel h1.heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

section#journel span#number {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  font-size: 4rem;
  text-align: end;
  font-weight: 100;
}

section#journel h2 {
  text-transform: uppercase;
  font-size: 3rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

section#journel h2 span {
  display: block;
  font-weight: 100;
  font-size: 1.1rem;
}

section#journel h2::after {
  content: '';
  display: block;
  width: 70%;
  height: 2px;
  margin: 10px auto;
  background-color: black;
}

section#journel blockquote {
  font-size: 1rem;
  font-weight: 100;
  text-align: start;
  padding: 0 2rem;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: f;
  margin: 0 1rem;
  background-color: #fafafa;
  -webkit-box-shadow: 10px 10px 10px 5px #dadada;
          box-shadow: 10px 10px 10px 5px #dadada;
}

section#journel blockquote:first-of-type {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
}

section#journel blockquote:last-of-type {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: e;
}

section#journel blockquote > * {
  padding: 0.7rem 0;
}

section#journel blockquote img {
  height: 60px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
}

section#journel blockquote footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#journel blockquote footer cite {
  padding-left: 10px;
}

section#stories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'a b' 'c d';
  color: #000000;
}

section#stories a {
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #ffffff;
}

section#stories blockquote img {
  height: 60px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
}

section#stories div.cards-list {
  padding: 1rem;
}

section#stories div.cards-list h2 {
  text-align: center;
  padding: 2rem;
  letter-spacing: 10px;
  color: #86ceeb;
  text-transform: uppercase;
}

section#stories div.cards-list div.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#stories div.cards-list div.cards blockquote {
  width: 30%;
}

section#stories div.cards-list div.cards .tag {
  color: rgba(128, 128, 128, 0.5);
  padding-bottom: 1.3rem;
  text-transform: capitalize;
}

section#stories div.cards-list div.cards blockquote {
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

section#stories div.cards-list div.cards blockquote a {
  display: block;
  text-align: right;
  color: #86ceeb;
  font-size: 2rem;
}

section#stories div.cards-list div.cards blockquote cite {
  color: rgba(128, 128, 128, 0.5);
}

section#stories div.background {
  color: #ffffff;
}

section#stories div.background h2.heading {
  font-weight: 300;
  font-size: 1.3rem;
  padding: 2rem;
}

section#stories div.background:last-of-type {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
  background: -webkit-gradient(linear, left top, right top, from(#00000060), to(#00000060)), url(../resources/images/stories-1.jpg) center no-repeat;
  background: linear-gradient(to right, #00000060, #00000060), url(../resources/images/stories-1.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
}

section#stories div.background:last-of-type h2.heading {
  font-size: 3rem;
  font-weight: 300;
}

section#stories div.background:last-of-type h2.heading span {
  font-size: 5rem;
  font-weight: 900;
}

section#stories div.background:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  background: -webkit-gradient(linear, left top, right top, from(#00000060), to(#00000060)), url(../resources/images/stories-2.jpg) center no-repeat;
  background: linear-gradient(to right, #00000060, #00000060), url(../resources/images/stories-2.jpg) center no-repeat;
  background-size: cover;
}

section#stories div.cards {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

section#stories div#info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#stories div#info a {
  color: #86ceeb;
  border-color: #86ceeb;
}

section#stories div#info blockquote {
  padding: 2rem;
  color: #80808080;
}

section#stories div#info blockquote h3 {
  font-size: 1.6rem;
  color: #86ceeb;
  text-transform: uppercase;
}

section#stories div#info blockquote h3 span {
  font-size: 1rem;
  display: block;
  opacity: 0.5;
}

section#stories div#info blockquote p {
  padding: 2rem 0;
  position: relative;
}
/*# sourceMappingURL=main.css.map */