@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
    margin: 0 auto;
    color: $color-secondary;
}

// Generall classes
a {
    text-decoration: none;
    color: $color-secondary;
    transition: background-color 0.5s;
}
section {
    padding: 5rem;
}
.heading {
    font-size: 5.2rem;
    text-transform: uppercase;
    color: $color-lightblue;
    text-shadow: 3px 2px 3px #000000;
}

// HEADER
header {
    background-image: url(../resources/images/mainbg.jpg);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    height: 150vh;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    & nav {
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-height: 10vh;
        width: 80vw;
        position: relative;
        top: 30px;
        justify-content: space-between;
        padding: 0 2rem;
        background-color: $white-color;
        animation: bottomTransition 2s ease-in;
        & #logo {
            border: 2px solid black;
            color: black;
            padding: 0.5rem;
            transition: all 0.5s;
            &:hover {
                color: black;
                border: 2px solid transparent;
                border-bottom: 2px solid black;
            }
        }
    }
    & ul {
        width: 50vw;
        display: flex;
        list-style: none;
        justify-content: space-between;
        & a {
            transition: border 0.2s;
            &:hover {
                color: black;
                border-bottom: 2px solid black;
            }
        }
    }
    & div.main-heading {
        color: $white-color;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 200;
        font-size: 1.5rem;
        transition: all 0.3;
        animation: topTransition 2s ease-in-out;
        & h1 {
            font-size: 5rem;
            font-weight: 300;
        }
        & a {
            border: 1px solid $white-color;
            border-radius: 20px;
            padding: 15px;
            margin-top: 1rem;
            display: inline-block;
            color: $white-color;
            font-size: 1.2rem;
            text-transform: capitalize;
            transition: background-color 0.5s;
            &:hover {
                color: black;
                background-color: $white-color;
            }
        }
    }
}

// TRENDING SECTION
section#trending {
    position: relative;
    height: 70vh;
    padding: 0;
    width: 95%;
    margin: 0 auto;

    color: $color-secondary;
    blockquote {
        width: 20vw;
        position: absolute;
        top: -10%;
        left: 3%;
        font-size: 1.3rem;
        z-index: 100;
        & span {
            font-size: 700;
            text-transform: capitalize;
        }

        & img {
            height: 60px;
            border-radius: 50%;
            object-fit: contain;
        }
        & footer {
            padding: 2rem 0;
            display: inline-block;
            & cite {
                vertical-align: middle;
                color: gray;
                font-size: 1rem;
                display: inline-block;
            }
        }
    }
    div#trending-gallery {
        position: absolute;
        top: -40%;
        left: 20%;
        width: 75vw;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.2fr;
        grid-column-gap: 10px;
        grid-row-gap: 40px;

        & img {
            display: block;
            box-shadow: 0px 10px 10px #dadada;
            background-color: $white-color;
            height: 120%;
            width: 100%;
            object-fit: cover;
            padding: 15px;
            transition: all 0.5s;
            &:first-of-type {
                grid-row: 1 /3;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        & a {
            grid-column: 3/3;
            text-align: end;
            color: $color-lightblue;
            & span {
                font-size: 1.5rem;
            }
        }
    }
}

// ABOUT SECTION
section#about {
    display: flex;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-secondary;
    & div#text-content {
        width: 70%;
        & h3 {
            font-weight: 100;
        }
        & p {
            margin: 3rem 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        & a {
            display: block;
            text-align: end;
            color: $color-lightblue;
            & span {
                font-size: 1.5rem;
            }
        }
    }

    & div#square-shapes {
        margin-left: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        & p {
            box-shadow: 10px 10px 5px $color-shadow;
            padding: 3.2rem;
            border: 12px solid $color-border;
            &:last-of-type {
                padding: 1.7rem;
                position: absolute;
                top: 150px;
                left: 140px;
            }
        }
    }
}

// SECTION GALLERY
section#gallery {
    & a {
        color: $color-lightblue;
        margin-top: 2rem;
        font-size: 1.4rem;
        display: block;
        text-align: end;
    }
    & div#cross-shapes {
        text-align: center;
        div {
            display: inline-block;
            margin: 2rem;
            position: relative;
        }
        & span {
            background-color: $color-border;
            display: inline-block;
            width: 50px;
            height: 10px;
            border-radius: 10px;
            &:first-of-type {
                transform: rotate(33deg);
            }
            &:last-of-type {
                transform: rotate(-50deg);
                position: absolute;
                top: 30%;
                left: -2%;
            }
        }
    }
    & div#cards {
        display: flex;
        justify-content: space-between;

        margin-top: 2rem;
        & div {
            box-sizing: border-box;
            width: 18%;

            padding-bottom: 3rem;
            box-shadow: 10px 10px 10px 5px $color-shadow;
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
            & img {
                background-color: $white-color;
                cursor: pointer;
                height: 350px;
                width: 100%;
                object-fit: cover;
            }
            & h3 {
                margin-top: 1rem;
            }
        }
    }
}

section#journel {
    background: linear-gradient(to bottom, #00000088, #000000),
        url('../resources/images/journelBG.jpg') bottom no-repeat;
    background-size: contain;
    background-attachment: fixed;
    margin: 0 auto;
    height: 130vh;
    padding: 2rem;
    background-size: cover;
    text-align: center;
    color: $white-color;
    display: grid;
    grid-template-columns: 2fr 1.3fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-areas:
        'a b b'
        '. c .'
        'd . f';

    & h1.heading {
        text-align: end;
        grid-area: a;
        font-size: 4rem;
        color: $white-color;
    }
    & span#number {
        grid-area: b;
        font-size: 4rem;
        text-align: center;
        font-weight: 100;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 3.3rem;
        grid-area: c;

        & span {
            display: block;
            font-weight: 100;
            font-size: 1.1rem;
            opacity: 0.7;
        }
        &::after {
            content: '';
            display: block;
            width: 50%;
            height: 2px;
            margin: 10px auto;
            background-color: $white-color;
        }
    }
    & blockquote {
        font-size: 1.8rem;
        font-weight: 100;
        text-align: start;
        padding-left: 2rem;
        grid-area: f;
        margin: 0 1rem;
        height: 100%;
        width: 100%;
        & h3 {
            color: $color-lightblue;
        }
        &:first-of-type {
            grid-area: d;
        }

        &:last-of-type {
            grid-area: f;
        }
        & > * {
            padding: 0.7rem 0;
        }
        & img {
            height: 60px;
            border-radius: 50%;
            object-fit: contain;
            display: inline-block;
        }
        & footer {
            display: flex;
            align-items: center;
            & cite {
                padding-left: 10px;
            }
        }
    }
}

section#stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'a b'
        'c d';
    color: #000000;

    & a {
        text-align: center;
        display: inline-block;
        padding: 1rem 2rem;
        border: 2px solid #ffffff;
        border-radius: 30px;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $white-color;
    }
    & blockquote {
        & img {
            height: 60px;
            border-radius: 50%;
            object-fit: contain;
            display: inline-block;
        }
    }
    & div.cards-list {
        padding: 1rem;
        & h2 {
            text-align: center;
            padding: 2rem;
            letter-spacing: 10px;
            color: $color-lightblue;
            text-transform: uppercase;
        }
        & div.cards {
            display: flex;
            justify-content: space-between;
            & blockquote {
                width: 30%;
            }
            & .tag {
                color: rgba(128, 128, 128, 0.5);
                padding-bottom: 1.3rem;
                text-transform: capitalize;
            }

            & blockquote {
                border: 1px solid #dadada;
                border-radius: 10px;
                padding: 1rem;
                text-align: center;
                font-size: 1rem;
                & a {
                    display: block;
                    text-align: right;
                    color: $color-lightblue;
                    font-size: 2rem;
                }
                & cite {
                    color: rgba(128, 128, 128, 0.5);
                }
            }
        }
    }
    & div.background {
        color: $white-color;
        & h2.heading {
            font-weight: 300;
            font-size: 1.3rem;
            padding: 2rem;
            display: flex;
            align-items: center;
            & i {
                display: inline-block;
                height: 80px;
                width: 80px;
                background-image: url('../resources/images/play.png');
                background-position: center;
                background-size: cover;
                margin-right: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &:last-of-type {
            grid-area: d;
            background: linear-gradient(to right, #00000060, #00000060),
                url(../resources/images/stories-1.jpg) center no-repeat;
            background-size: cover;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & h2 {
                font-size: 2rem;
                font-weight: 300;
                padding: 1rem;
                text-transform: uppercase;
                & span {
                    display: block;
                    font-weight: 900;
                    font-size: 5rem;
                }
            }
            & a {
                background-color: #ffffff15;
                font-weight: 900;
                &:hover {
                    background-color: $white-color;
                    color: #000000a4;
                }
            }
        }
        &:first-of-type {
            grid-area: a;
            background: linear-gradient(to right, #00000060, #00000060),
                url(../resources/images/stories-2.jpg) center no-repeat;
            background-size: cover;
            & h2.heading {
                color: inherit;
            }
        }
    }
    & div.cards {
        grid-area: c;
    }
    div#info {
        width: 100%;
        display: flex;
        & a {
            color: $color-lightblue;
            border-color: $color-lightblue;
            &:hover {
                background-color: $color-lightblue;
                color: $white-color;
            }
        }
        & blockquote {
            padding: 2rem;
            color: #80808080;
            & h3 {
                font-size: 1.6rem;
                color: $color-lightblue;
                text-transform: uppercase;

                & span {
                    font-size: 1rem;
                    display: block;
                    opacity: 0.5;
                }
            }
            & p {
                padding: 2rem 0;
                position: relative;

                // &::before {
                //     content: '\00a0 ';
                //     width: 5px;
                //     height: 70%;
                //     background-color: #8080805e;
                //     display: block;
                //     position: absolute;
                // }
            }
        }
    }
}

// CONTACT SECTION

section#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 3fr;
    grid-row-gap: 50px;

    grid-template-areas:
        'a . c'
        'd e f';
    & h2.heading {
        grid-area: a;
    }
    & div.shape {
        margin-left: 100px;
        grid-area: c;
        box-shadow: 10px 10px 5px $color-shadow;
        width: 150px;
        height: 150px;
        border: 15px solid $color-border;
        border-radius: 50%;
    }
    & div.info {
        text-align: center;
        grid-area: d;

        & h2 {
            font-size: 2rem;
            text-transform: uppercase;
        }
        & h3 {
            font-size: 1.3rem;
            opacity: 0.8;
        }
        & h3#circle {
            display: inline-block;
            border: 15px solid;
            border-color: $color-lightblue rgb(204, 137, 148) $color-lightblue
                rgb(252, 114, 137);

            padding: 2.5rem 1rem;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            color: black;
            margin: 1.5rem 0rem;
        }
        & h5 {
            font-size: 1.1rem;
            opacity: 0.5;
            font-weight: 100;
            color: $color-lightblue;
        }
        & h4 {
            font-size: 1.2rem;
            font-weight: 100;
            color: $color-lightblue;
            &:last-of-type {
                color: rgb(252, 114, 137);
            }
        }
    }
    & div.img-bg {
        grid-area: e;
        background: url('../resources/images/contact.jpg') no-repeat;
        background-size: cover;
    }
    & form {
        grid-area: f;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & input,
        textarea,
        button {
            width: 80%;
            padding: 1rem 0.4rem;
            border: 1px solid rgba(128, 128, 128, 0.438);
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            outline: none;
            cursor: pointer;
        }
        & button {
            background-color: $color-lightblue;
            text-transform: uppercase;
            font-size: 1.2rem;
            color: $white-color;
            &:hover {
                background-color: #6fc4c7;
            }
        }
    }
}

// footer
footer#end {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr;
    row-gap: 4rem;
    grid-template-areas:
        'a b c d'
        'e . . f';
    background-color: #292929;
    padding: 2rem;
    color: $white-color;
    & #brand {
        font-size: 5rem;
        text-transform: uppercase;
        text-align: center;
        grid-area: a;
    }
    & a {
        display: block;
        color: $white-color;
        text-align: start;
        font-size: 1.1rem;
        font-weight: 100;
        text-decoration: none;
        padding-bottom: 1rem;
        text-transform: capitalize;
        &:hover {
            color: $color-lightblue;
        }
    }
    & h2 {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-weight: 100;
        font-size: 1.3rem;
        color: $color-lightblue;
    }
    & p {
        text-align: center;
        grid-area: e;
        font-size: 1rem;
        opacity: 0.7;
    }
    & #social_links {
        grid-area: f;
        display: flex;
        opacity: 0.7;
        & img {
            width: 50px;
            height: 50px;
            margin-right: 1.2rem;
            border: 1px solid black;
            border-radius: 50%;
            &:hover {
                background-color: $color-lightblue;
            }
        }
    }
}

// Animations
@keyframes bottomTransition {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes topTransition {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }
}

// MEDIA QUERIES
@media only screen and (max-width: 1023px) {
    /* For big tablets */
    section#gallery {
        & h2.heading {
            text-align: center;
        }
    }

    section#journel {
        padding-top: 10rem;
        & h1.heading {
            font-size: 4rem;
            text-align: end;
        }
        & span#number {
            font-size: 3.5rem;
            text-align: center;
        }
        & h2 {
            font-size: 2rem;
            text-align: center;
        }
        & blockquote {
            margin: 0;
            padding: 0;
            width: 80%;
            & h3 {
                color: $color-lightblue;
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            & footer {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    section#stories {
        padding: 0 2rem;
        display: grid;
        grid-template-rows: 1fr 1.3fr 1.5fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'a a'
            'b b'
            'c d';
        & div#info {
            font-size: 1.3rem;
            grid-area: b;
            text-align: center;
        }
        & div.cards-list {
            padding-top: 0rem;
        }

        & div.background {
            &:first-of-type {
                grid-area: a;
            }
            &:last-of-type {
                grid-area: d;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    /* For small tablets */
    header {
        height: 100vh;
        nav {
            width: 100vw;
            position: absolute;
            top: 0;
            #logo {
                font-size: 1.7rem;
            }
        }
        & ul {
            display: none;
        }
        & div.main-heading {
            top: 45%;
            & h1 {
                font-size: 3rem;
                font-weight: 300;
            }
            & a {
                font-size: 1.5rem;
            }
        }
    }

    section#journel {
        display: flex;
        flex-direction: column;
        text-align: center;
        & h1.heading {
            font-size: 5rem;
            text-align: center;
        }
        & span#number {
            display: none;
        }
        & h2 {
            font-size: 2rem;
            text-align: center;
        }
        & blockquote {
            & h3 {
                color: $color-lightblue;
                font-size: 2.4rem;
                margin-top: 2rem;
            }
            font-size: 2rem;
            padding: 0rem;
            text-align: center;
            & footer {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    section#stories {
        width: 100vw;
        display: flex;
        padding: 0;
        flex-direction: column;
        div#info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & blockquote {
                text-align: center;
                margin-bottom: 2rem;
                &::after {
                    content: '';
                    display: inline-block;
                    background-color: gray;
                    width: 50%;
                    height: 1px;
                    margin-top: 3rem;
                }
                & p {
                    font-size: 1.5rem;
                }
            }
        }
        & div.background {
            &:first-of-type {
                height: 20vh;
                & h2.heading {
                    display: flex;
                    justify-content: center;
                }
            }
            &:last-of-type {
                height: 30vh;
                & h2 {
                    & span {
                        font-size: 3rem;
                    }
                }
                & a {
                    font-size: 1.1rem;
                }
            }
        }
    }

    // SECTION CONTACT
    section#contact {
        display: flex;
        flex-direction: column;
        & h2.heading {
            text-align: center;
            font-size: 4rem;
        }
        & div.shape {
            display: none;
        }
        & div.info {
            & h2 {
                font-size: 2.8rem;
            }
            & h3 {
                font-size: 1.9rem;
            }

            & h5 {
                font-size: 1.8rem;
            }
            & h4 {
                font-size: 1.6rem;
            }
        }
        & div.img-bg {
            height: 450px;
            background-size: cover;
        }
        & form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & input,
            textarea,
            button {
                width: 100%;
                padding: 2rem;
                margin-bottom: 2rem;
                font-size: 1.8rem;
                text-align: center;
            }
            & button {
                font-size: 1.6rem;
            }
        }
    }

    // FOOTER
    footer#end {
        display: grid;
        height: 80%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr repeat(2, 1fr);
        grid-template-areas:
            'e f'
            'c d'
            'b a';
        column-gap: 20px;
        & #brand {
            font-size: 3rem;
        }
        & a {
            font-size: 2rem;
            &:hover {
                color: $color-lightblue;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */

    section#journel {
        display: flex;
        text-align: start;
        flex-direction: column;
        & h1.heading {
            font-size: 2.5rem;
            letter-spacing: 5px;
            margin-bottom: 1rem;
        }
        & span#number {
            display: none;
        }
        & h2 {
            font-size: 1.5rem;
            text-transform: capitalize;
            padding: 2rem 1rem;
        }
        & blockquote {
            font-size: 1.5rem;
            padding: 0rem;
            & h3 {
                color: $color-lightblue;
            }
        }
    }
    section#stories {
        width: 100vw;
        display: flex;
        padding: 0;
        flex-direction: column;
        div#info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & blockquote {
                padding: 1rem;
                text-align: center;
                & h3 {
                    & span {
                        font-size: 1.3rem;
                        opacity: 0.7;
                    }
                }
                & p {
                    font-size: 1.2rem;
                }
            }
        }
        & div.cards-list {
            & h2 {
                letter-spacing: 5px;
                padding: 1.5rem 0rem;
            }
            & div.cards {
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                & blockquote {
                    width: 80%;
                    margin-bottom: 1rem;
                    padding: 0.5rem 0;
                    font-size: 1.7rem;
                    a {
                        text-align: center;
                    }
                }
            }
        }
    }

    // SECTION CONTACT
    section#contact {
        & h2.heading {
            font-size: 2rem;
        }

        & div.info {
            & h2 {
                font-size: 2rem;
            }
            & h3 {
                font-size: 1.6rem;
            }
        }

        & form {
            & input,
            textarea,
            button {
                font-size: 1.5rem;
            }
        }
    }

    // FOOTER
    footer#end {
        display: flex;
        flex-direction: column;
        text-align: center;
        & #brand {
            font-size: 2.6rem;
        }
        & a {
            font-size: 1.7rem;
            text-align: center;
            &:hover {
                color: $color-lightblue;
            }
        }
        & #social_links {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
